<footer class="footer">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <a routerLink="/home "><img src="assets/images/logo.png" alt=""></a>
             <p>Appsysco is a leading provider of digital marketing and web development services in India and abroad. We can help your business to build a strong foothold for search engines and social media. Our proven and ethical methods are enough to get your brand obtain and maintain an outstanding online presence. </p>
             <div class="contact-details">
                <ul class="footerContact">
                   <li>
                      <p><i class="fa fa-map-marker"></i> E-51 Phase 8 Industrial Area,<br>
                         Mohali, Punjab INDIA
                      </p>
                   </li>
                   <!--li>
                      <p> <i class="fa fa-phone"></i> <a routerLink="tel:0172-5020937">0172-5020937</a></p>
                   </li-->
                   <li>
                      <p> <i class="fa fa-envelope"></i> <a href="mailto:contact@appsysco.com">contact@appsysco.com</a></p>
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-md-4">
             <h1>Useful Links</h1>
             <ul class="quick-links">
                <li><a routerLink = "/home">Home</a></li>
                <li><a routerLink = "/about">About us </a></li>
                <li><a routerLink = "/contact">Contact Us</a></li>
             </ul>
             <h1>Other Links</h1>
             <ul class="quick-links">
                <li><a href="javascript:void(0)">FAQ</a></li>
                <li><a href="javascript:void(0)">Sitemap</a></li>
                <li><a href="javascript:void(0)">Policy</a></li>
             </ul>
          </div>
          <div class="col-md-4">
             <h1>Connect With Us</h1>
             <ul class="social-icons">
                <li class="facebook"><a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="javascript: void(0)" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="javascript:void(0)" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="googleplus"><a href="javascript:void(0)" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li class="whatsapp"><a href="https://wa.me/919988708773" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
             </ul>
          </div>
       </div>
    </div>
    <div class="copyright">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <p>&copy; Copyright 2015-2018 All Right Reserved</p>
             </div>
          </div>
       </div>
    </div>
 </footer>
