<section class="about-sec client-says">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-12">
             <h1>WHAT OUR <span>CLIENTS SAY</span></h1>
             <div class="headingBottomArea blue">
                <div class="headingShape"></div>
                <div class="headingShapeIcon"></div>
             </div>
          </div>
       </div>
       <div class="row inner-page-about-con client-says-con">
          <div class="col-lg-6">
             <div class="videoBox"><img src="images/client-video-img.png" alt=""> <iframe width="560" height="315" src="https://www.youtube.com/embed/HwO5ttFX4I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
          <div class="col-lg-6">
             <div class="client-says-slider text-center">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                   <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   </ol>
                   <div class="carousel-inner" role="listbox">
                      <div class="item active">
                         <img src="assets/images/robin.jpg" alt="">
                         <p>I felt compelled to write this letter expressing how pleased I am with the results by Sam. After being completely knocked off Google overnight, we were faced with a serious situation. We attempted to overcome ourselves but after 4 weeks of being unsuccessful, we contacted eTraffic. Within weeks, we were back on top of all the major search terms pertinent to our business.</p>
                         <h3>RICHARD TRCHALA <br> <span>Web developer</span></h3>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
