<div class="container-fluid">
    <div class="header-container row">
        <div class="header-col col-sm">
          <div  class="logo"><a routerLink="/home"><img class="header_logo" src="assets/images/logo.png" alt="Appsysco Logo"></a></div>
        </div>
    </div>
</div>
<section id="for_page">
    <div class="container">
      <div class="internal_error">
        <div class="inter_error">
          <h3>This is a 404 page.</h3>
          <h6>That just means 'error'. But it sounds more computery this way.</h6>
          <a routerLink="/home" class="btn btn-success homepageReturn">Return to the Homepage</a>
        </div>
        <img src="assets/images/logo.png">
      </div>
    </div>
</section>
<app-footer></app-footer>
