<app-header></app-header>
<section class="banner-sec inner-banner-sec portfolio-page">

    <div class="bannerInnerContent">

       <div class="banner-con">

          <h3>Portfolio</h3>

          <ul class="inner-page-bc">

             <li>Home</li>

             <li>-</li>

             <li>Portfolio</li>

          </ul>

          <img src="assets/images/title-shape.png" alt="">

       </div>

    </div>

 </section>

 <section class="about-sec our-work">

    <div class="container">

       <div class="row">

          <div class="col-lg-12">

             <h1>OUR <span>work</span></h1>

             <div class="headingBottomArea blue">

                <div class="headingShape"></div>

                <div class="headingShapeIcon"></div>

             </div>

          </div>

       </div>

       <div class="row">

          <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/our-work-img1.jpg" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Totalstay</h3>

                      <!-- <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p> -->

                   </div>

                </div>

             </div>

          </div>

          <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/our-work-img2.jpg" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Sasha Blake</h3>

                   </div>

                </div>

             </div>

          </div>

          <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/our-work-img3.jpg" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Web Pro</h3>

                   </div>

                </div>

             </div>

          </div>

          <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/our-work-img4.jpg" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Booksy</h3>

                   </div>

                </div>

             </div>

          </div>

          <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/our-work-img5.jpg" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Come to Capetown</h3>

                   </div>

                </div>

             </div>

          </div>

  <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/our-work-img9.jpg" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>ACtiv 8</h3>

                   </div>

                </div>

             </div>

          </div>

           <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/hopehospital.png" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Hope Hospital</h3>

                   </div>

                </div>

             </div>

          </div>

          <div class="col-lg-4">

             <div class="our-work-block">

                <img src="assets/images/drsabitasmothercare.png" alt="">

                <div class="port-overlay">

                   <div class="port-overlay-inner">

                      <h3>Dr Sabitas Mother Care</h3>

                   </div>

                </div>

             </div>

          </div>

        </div>

    </div>

 </section>

<app-footer></app-footer>
