<section class="about-sec feature-jobs">
  <div class="container">
     <div class="row">
        <div class="col-lg-12">
           <h1>recent and <span>featured jobs</span></h1>
           <div class="headingBottomArea blue">
              <div class="headingShape"></div>
              <div class="headingShapeIcon"></div>
           </div>
        </div>
     </div>
     <div class="row feature-jobs-block">
        <div class="col-lg-12">
           <div class="feature-jobs-row">
              <div class="feature-jobs-image">
                 <img src="assets/images/web_designer_img.jpg" alt="">
              </div>
              <div class="feature-jobs-con">
                 <div class="jobs-content">
                    <h3>web designer</h3>
                    <p>Web designing is the process of creating the entire look of a website. It encompasses several different aspects, including web page layout, content production, and graphic design. Web designers are the one who determines everything about a website. Right from the content, the way it looks, to the way it works.</p>
                 </div>
              </div>
           </div>
           <div class="feature-jobs-row">
              <div class="feature-jobs-image">
                 <img src="assets/images/career_img2.jpg" alt="">
              </div>
              <div class="feature-jobs-con">
                 <div class="jobs-content">
                    <h3>.Net developer</h3>
                    <p>.NET expert to bring your website to the next level of functionality, interactivity and polish, .NET developers can create advanced web-based applications from scratch and can customize existing systems to your requirements. We only hire the best, so you can be confident that the .NET web applications we build for you will be robust and secure.</p>
                 </div>
              </div>
           </div>
           <div class="feature-jobs-row">
              <div class="feature-jobs-image">
                 <img src="assets/images/career_img3.jpg" alt="">
              </div>
              <div class="feature-jobs-con">
                 <div class="jobs-content">
                    <h3>php developer</h3>
                    <p>PHP is the world's most popular programming language for building web applications and interactive websites. Hire one of our seasoned PHP experts to bring your website to the next level of functionality, interactivity and polish. Our PHP developers can create advanced web-based applications from scratch and can customize existing open source systems to your requirements.</p>
                 </div>
              </div>
           </div>
           <div class="feature-jobs-row">
              <div class="feature-jobs-image">
                 <img src="assets/images/career_img4.jpg" alt="">
              </div>
              <div class="feature-jobs-con">
                 <div class="jobs-content">
                    <h3>android developer</h3>
                    <p>Android developer, who develops applications for devices operating on the Android operating system. They are responsible for creating applications that perform well, are secure, and are properly integrated with other systems.</p>
                 </div>
              </div>
           </div>
           <div class="feature-jobs-row">
              <div class="feature-jobs-image">
                 <img src="assets/images/career_img5.jpg" alt="">
              </div>
              <div class="feature-jobs-con">
                 <div class="jobs-content">
                    <h3>java developer</h3>
                    <p>Java can be defined as package of software products that you can use to develop application software and install it in a cross-platform setting.  A wide assortment of computing platforms employs Java today, ranging from mobile phones and embedded devices, to cloud computing servers and supercomputers. Whether it is Client-side or Server-side, Java technology is one of the most widely used software platforms for the development of applications.</p>
                 </div>
              </div>
           </div>
           <div class="feature-jobs-row">
              <div class="feature-jobs-image">
                 <img src="assets/images/career_img6.jpg" alt="">
              </div>
              <div class="feature-jobs-con">
                 <div class="jobs-content">
                    <h3>ios developer</h3>
                    <p>An iOS developer is responsible for developing applications for mobile devices powered by Apple's iOS operating system. Ideally, a good iOS developer is proficient with one of the two programming languages for this platform: Objective-C or Swift.</p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
 </section>
