<section class="about-sec inner-page-about-sec">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <h1>About <span>Us</span></h1>
             <div class="headingBottomArea blue">
                <div class="headingShape"></div>
                <div class="headingShapeIcon"></div>
             </div>
          </div>
       </div>
       <div class="row inner-page-about-con">
          <div class="col-lg-4 text-right">
          <p>Appsysco IT Services is a full service Interactive digital marketing and web development agency known for its top-notch digital services. Our tight-knit team of digital markets, web developers, designers, and software testers are overall talented souls. At Appsysco IT Services, we help marketers enhance their influence purchasers, brand image and generate revenue through advertising solutions and complete suite of performance. We help small and big businesses to perform in the digital landscape so you can influence, grow and convert your audience into leads.</p>
          </div>
          <div class="col-lg-4">
             <img src="assets/images/about-inner-img.jpg" alt="">
          </div>
          <div class="col-lg-4 text-left">
             <h3>We specialise in :</h3>
             <ul class="specialise-list">
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Mobile Websites</li>
                <li>Search Engine Optimisation</li>
                <li>Search Engine Marketing</li>
                <li>Google Pay Per Click</li>
                <li>Mobile Application;</li>
                <li>Graphic Design</li>
                <li>Social Media Design & Optimisation</li>
             </ul>
          </div>
       </div>
    </div>
 </section>
