<section class="why-sec">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <img src="assets/images/why-work-img.png" alt="">
          </div>
          <div class="col-lg-7 text-left">
             <h1>Why Work <span>With Us</span></h1>
             <div class="headingBottomArea blue">
                <div class="headingShape"></div>
                <div class="headingShapeIcon"></div>
             </div>
             <p>Appsysco is led by an organized team of highly skilled and knowledgeable IT professionals with rich experience in the domain of technology. Each member of Appsysco team strives hard to accomplish every project with the utmost perfection.</p>
             <ul>
                <li>100% Project Success.</li>
                <li>Long-term Visions</li>
                <li>Cost Effective solutions</li>
                <li>Speed with Efficiency</li>
                <li>Work on Latest Technologies</li>
                <li>100% data security</li>
                <li>Commitment to Customer Satisfaction</li>
             </ul>
          </div>
       </div>
    </div>
 </section>
