<section class="banner-sec">
    <div class="bannerInnerContent">
       <div class="banner-con">
          <h1><small class="smallTop">Delivering</small><br> <span class="blueColor">FAST AND RESPONSIVE</span> unique<br>
             web experience
          </h1>
          <ul class="banner-list">
             <li>Expert Team With Best Tactics For Best ROI</li>
             <li>Targeting More Traffic & More Sales of any business</li>
             <li>Rank Your Website & Start Your Business</li>
          </ul>
          <button type="button">Know More</button>
       </div>
    </div>
 </section>
